<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                     <small>Entre contato com para conhecer os Serviços</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Nome</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Serviços</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Aplicações:</option>
                                <option value="service">Customização de Layout</option>
                                <option value="suggestions">Arquitetura de desenvolvimento</option>
                                <option value="product">Suporte aos nossos produtos</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Mensagem</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Envie sua mensagem"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Envie sua mensagem</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span>Nosso Escritório</legend>
            <address>
                <strong>Twitter, Inc.</strong><br>
                Av Paulista, Suite 600<br>
                São Paulo, SP<br>
                <abbr title="celular">
                    </abbr>
                (11) 98877-6655
            </address>
            <address>
                <strong>Nome Completo</strong><br>
                <a href="mailto:#">nome.completo@exemplo.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
