<div class="container main-container">
  <div class="row text-center">

      <div class="col-lg-12 col-md-10">
          <div class="card h-100">
              
            <div class="card-body">
                <h4 class="cart-title">Serviços Disponíveis</h4>
                <p class="card-text">Quisque dignissim velit ac turpis lobortis, et porttitor leo fringilla. Praesent suscipit lectus et nisl dictum, ut feugiat nulla feugiat.</p>
            </div>
            <div class="card-body">
              <h4 class="cart-title">Temos Muitos Clientes</h4>
              <p class="card-text">Quisque dignissim velit ac turpis lobortis, et porttitor leo fringilla. Praesent suscipit lectus et nisl dictum, ut feugiat nulla feugiat.</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-12 col-md-10">
          <div class="card h-100">
              
            <div class="card-body">
                <h4 class="cart-title">Serviços Disponíveis</h4>
                <p class="card-text">Quisque dignissim velit ac turpis lobortis, et porttitor leo fringilla. Praesent suscipit lectus et nisl dictum, ut feugiat nulla feugiat.</p>
            </div>
            <div class="card-body">
              <h4 class="cart-title">Temos Muitos Clientes</h4>
              <p class="card-text">Quisque dignissim velit ac turpis lobortis, et porttitor leo fringilla. Praesent suscipit lectus et nisl dictum, ut feugiat nulla feugiat.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-10">
          <div class="card h-100">
              
            <div class="card-body">
                <h4 class="cart-title">Serviços Disponíveis</h4>
                <p class="card-text">Quisque dignissim velit ac turpis lobortis, et porttitor leo fringilla. Praesent suscipit lectus et nisl dictum, ut feugiat nulla feugiat.</p>
            </div>
            <div class="card-body">
              <h4 class="cart-title">Temos Muitos Clientes</h4>
              <p class="card-text">Quisque dignissim velit ac turpis lobortis, et porttitor leo fringilla. Praesent suscipit lectus et nisl dictum, ut feugiat nulla feugiat.</p>
            </div>
          </div>
        </div>
            
              
  </div>
</div>